{% extends 'layout/default.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{{  path('login.store') }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username" required >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password"  required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
